.stepArt {
  height: 650px;
  width: 165px;
  background: url("https://www.redditstatic.com/accountmanager/bbb584033aa89e39bad69436c504c9bd.png ") center center/cover;
}

.dialogTitle {
  width: 280px;
}

.registrationForm {
  margin-top: -20px;
  width: 280px;
  
}

.signUpLabel {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  font-weight: 600;

}

.agreement {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 8px;

  & > a {
    color: #0079d3;
    text-decoration: none;
    &:hover{
      cursor: pointer;
      text-decoration: underline;
    }
  }
}


.authContainer {
  width: 300px;
}

.separatorContainer {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.separator {
  width: 50%;
  height: 0.1px;
  border: 1px solid #f4f4f4;
  margin: 20px;
}

.separatorText {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #878a8c;
  text-transform: uppercase;
}

.registrationForm {
  width: 300px;
}

.loginForm{
  width: 290px;
  margin-top: -20px;
  
  & > span {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 8px;

    & > a {
      color: #0079d3;
      
      &:hover{
        cursor: pointer;
        text-decoration: underline;
      }
    }
    
    &:last-child{
      font-family: Noto Sans,sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      margin-top: 8px;
      
      & > a {
        font-weight: 600;
      }
    }
  }
  
}