@import "styles/mixin";


.filterTitle {
  @include mainTitle;
}

.darkFilterTitle {
  @include mainTitle;
  color: #d7dadc;
}

.filterContainer {
  display: flex;
  height: 53px;
  width: 609px;
  background: #fff;
  margin-bottom: 20px;
  align-items: center;
  padding: 10px 12px;
}

.darkFilterContainer{
  display: flex;
  height: 53px;
  width: 609px;
  background: #1a1a1b;
  margin-bottom: 20px;
  align-items: center;
  padding: 10px 12px;
  @include  darkContainer;
}

.filterBackgroundContainer {
  margin-top: -40px;
}