@import "styles/mixin";

.filterTitle {
  @include mainTitle;
}

.filterContainer {
  display: flex;
  height: 53px;
  width: 609px;
  background: #fff;
  margin-bottom: 20px;
  align-items: center;
  padding: 10px 12px;
}

.filterBackgroundContainer {
  margin-top: -40px;
}