@import "styles/mixin";


.filterTitle {
  @include mainTitle;
}

.darkFilterTitle {
  @include mainTitle;
  color: #d7dadc;
}

@mixin filterContainer {
  display: flex;
  height: 53px;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
  padding: 10px 12px;

  @include fullScreen {
    width: 609px;
  }

  @include mediumScreen {
    & > a:nth-child(n+6) {
      display: none;
    }
  ;
  }
  @include smallScreen {
    & > a:nth-child(n+4) {
      display: none;
    }
  }
}

.filterContainer {
  @include filterContainer;
  background: #fff;
}

.darkFilterContainer {
  @include filterContainer;
  @include darkContainer;
}

.filterBackgroundContainer {
  margin-top: -40px;
}