@import "styles/variables";

.nav {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background: $NAVBAR_BG_LIGHT_PRIMARY;
}