.profileIcon {
  height: 20px;
  width: 20px;
  fill: #878a8c;
}

.arrowIcon {
  height: 18px;
  width: 18px;
  fill: #878a8c;
}

.headerUserDropdownContainer {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  outline: none;
  background: #fff;
  padding: 2px 0;
  min-height: 32px;
  width: 70px;
  border: none;

  &:hover, &:focus {
    border: 1px solid #edeff1;
    border-radius: 4px;
  }
}

.darkHeaderUserDropdownContainer {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  outline: none;
  background: #1a1a1b;
  padding: 2px 0;
  min-height: 32px;
  width: 70px;
  border: none;

  &:hover, &:focus {
    border: 1px solid #343536;
    border-radius: 4px;
  }
}

.menuTitle {  
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 12px;
  margin: 8px 0 4px 12px;
  color: #878a8c;
}