@import "styles/screens";

.profileIcon {
  height: 20px;
  width: 20px;
  fill: #878a8c;
}

@mixin headerUserDropdownContainer {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  outline: none;
  padding: 2px 0;
  min-height: 32px;
  border: none;
  margin-right: 40px;

  @include fullScreen {
    width: 70px;
  }

  @include largeScreen {
    width: 70px;
  }

  &:hover, &:focus {
    border-radius: 4px;
  }

  & > svg {
    height: 30px;
    width: 30px;
  }
}

.arrowIcon {
  height: 18px;
  width: 18px;
  fill: #878a8c;
}

.lightHeaderUserDropdownContainer {
  @include headerUserDropdownContainer;

  background: #fff;

  &:hover, &:focus {
    border: 1px solid #edeff1;
  }
}

.darkHeaderUserDropdownContainer {
  @include headerUserDropdownContainer;

  background: #1a1a1b;

  &:hover, &:focus {
    border: 1px solid #343536;
  }
}

.menuTitle {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 12px;
  margin: 8px 0 4px 12px;
  color: #878a8c;
}