.chatBox {
  transition: 0.3s ease-in-out;
  display: flex;
  position: fixed;
  bottom: 0;
  right: 1.875em;;
  width: 575px;
  height: 460px;
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: rgba(150, 150, 150, 0.15) 0px 0.125em 0.75em 0.125em;
}
