@import "styles/variables";
@import "styles/mixin";
.trendingTitle {
  @include mainTitle
}
.darkTrendingTitle {
  color: #d7dadc;
}

.trendingContainer {
  display: flex;
  justify-content: space-between;
}