@import "styles/variables";

.st0 {
  fill: #FF4500;
}

.st1 {
  fill: #FFFFFF;
}


.homeLogo {
  width: 130px;
  height: 32px;
}
.darkHomeLogo {
  width: 65px;
  height: 32px;
}

.darkLogoContainer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.homeLogoLabel{
  height: 20px;
  width: 57px;
}