.subredditItem {
  display: flex;
  align-items: center;

  & > span {
    margin: 0 0 0 10px;

    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

    &:last-child {
      width: 20px;
      margin: 0;
    }
  }
}

.subredditLogo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0 10px;
  background-size: cover;
  background-position: center;
}

.subRedditDefaultLogo {
  background: rgb(0, 121, 211);
  height: 30px;
  width: 30px;
  fill: #fff;
  border-radius: 50%;
  padding: 3px;
  margin: 0 10px;
}

.darkSubredditLogo{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 3px;
  margin: 0 10px;
}

.subredditArrow {
  height: 10px;
  width: 10px;
  fill: rgb(70, 209, 96);
  margin-left: 7px;
  margin-top: 5px;
}

.darkSubredditName{
  color:#d7dadc;
}