@import "styles/variables";
@import "styles/screens";

@mixin searchContainer {
  position: relative;
  @include fullScreen {
    margin: 0 auto;
  }
  width: 50%;

  & > input {
    height: 36px;
    outline: none;
    padding: 0 16px 0 40px;
    width: 100%;
    max-width: 680px;


  }
  @include mediumScreen {
    width: 65%;
  }

  @include smallScreen {
    width: 65%;
  }
}

.lightSearchContainer {
  @include searchContainer;

  background: $NAVBAR_BG_LIGHT_PRIMARY;

  & > input {
    border: 1px solid $SEARCH_FIELD_BORDER;
    background: $SEARCH_FIELD;

    &:hover, &:focus {
      background: $NAVBAR_BG_LIGHT_PRIMARY;
      border: 1px solid $SEARCH_FIELD_HOVER_BORDER;
    }
  }
}

.darkSearchContainer {
  @include searchContainer;
  background: #272729;

  & > input {
    background: #272729;
    color: #f4f4f4;
    border: none;

    &:hover, &:focus {
      background: #1a1a1b;
      border: 1px solid #fff;
    }
  }
}

.searchLogo {
  fill: $SEARCH_ICON;
  height: 17px;
  width: 17px
}

.searchLogoContainer {
  position: absolute;
  top: 23%;
  height: 18px;
  margin-left: 19px;
}
