@import "styles/screens";

@mixin mainTitle {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #333;
  text-transform: unset;
}

@mixin trendingTitle{
  @include mainTitle;
  padding: 0 24px;
  @include fullScreen{
    padding: 0;
  }
}


@mixin darkContainer{
  background: #1a1a1b;
  border:  solid #343536;
  color: #fff;
}