@mixin mainTitle {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #333;
  text-transform: unset;
}


@mixin darkContainer{
  background: #1a1a1b;
  border: 1px solid #343536;
}