@import "styles/variables";
@import "styles/screens";

.registrationContainer {
  a {
    display: none;
  }

  @include fullScreen {
    a {
      display: block;
    }
    margin-right: 30px;
  }

  @include largeScreen {
    a {
      display: block;
    }
  }
  display: flex;
  align-items: center;
}

.navbarOptionsContainer {
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
