.postHeader {
  display: flex;
  position: relative;
  padding-top: 8px;
  align-content: center;
  align-items: center;

  & > a > div {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
  }

  & > a > div > img {
    height: 20px;
    width: 20px;
    margin: 0 5px;
  }


  & > a > div > span {
    display: table;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    vertical-align: baseline;
    width: auto;
    min-width: inherit;
  }
}

.author {
  color: #7c7c7c;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 1.9px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.separator {
  margin: 0 4px;
  vertical-align: middle;
  font-size: 6px;
  line-height: 20px;
}